# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
*.log

# Turbo
.turbo

# Build outputs
dist
build
.next
out

# Environment
.env
.env*.local

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Misc
*.tsbuildinfo
.eslintcache
